<section class="min-h-screen py-16 flex flex-col justify-around" id="about">
  <h2
    class="text-5xl font-bold text-center mb-12 text-purple-100 tracking-wide drop-shadow-md drop-shadow-purple-700"
  >
    ¿Por qué elegir nuestro Curso?
  </h2>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="feature-card p-6 bg-gradient-to-b from-purple-400 to-purple-600 rounded-lg shadow-md flex flex-col gap-6 hover:transform hover:scale-105 transition duration-300 ease-in-out relative overflow-hidden drop-shadow-purple-600 drop-shadow-sm"
      >
        <h3 class="text-xl font-bold text-white">Aprendizaje Práctico</h3>
        <p class="text-white">
          Aprende construyendo proyectos reales y aplicando los conceptos en la
          práctica.
        </p>
        <img src="/about-1.webp" class="w-full rounded-lg z-10" alt="" />
        <div
          class="bg-white rounded-xl h-full w-full left-0 bottom-0 transform scale-y-[-1] opacity-20 blur-sm border-2 border-purple-400 absolute"
        >
        </div>
      </div>

      <div
        class="feature-card p-6 bg-gradient-to-b from-purple-400 to-purple-600 rounded-lg shadow-md flex flex-col gap-6 hover:transform hover:scale-105 transition duration-300 ease-in-out relative overflow-hidden drop-shadow-purple-600 drop-shadow-sm"
      >
        <h3 class="text-xl font-bold text-white">Mentores Expertos</h3>
        <p class="text-white">
          Recibe guía personalizada de desarrolladores con experiencia en la
          industria.
        </p>
        <img src="/about-2.webp" class="w-full rounded-lg z-10" alt="" />
        <div
          class="bg-white rounded-xl h-full w-full left-0 bottom-0 transform scale-y-[-1] opacity-20 blur-sm border-2 border-purple-400 absolute"
        >
        </div>
      </div>

      <div
        class="feature-card p-6 bg-gradient-to-b from-purple-400 to-purple-600 rounded-lg shadow-md flex flex-col gap-6 hover:transform hover:scale-105 transition duration-300 ease-in-out relative overflow-hidden drop-shadow-purple-600 drop-shadow-sm"
      >
        <h3 class="text-xl font-bold text-white">Comunidad Activa</h3>
        <p class="text-white">
          Únete a una comunidad de desarrolladores apasionados y crece junto a
          ellos.
        </p>
        <img src="/about-3.webp" class="w-full rounded-lg z-10" alt="" />
        <div
          class="bg-white rounded-xl h-full w-full left-0 bottom-0 transform scale-y-[-1] opacity-20 blur-sm border-2 border-purple-400 absolute"
        >
        </div>
      </div>
    </div>
  </div>
</section>
