<footer class="text-white pt-12 pb-6">
  <div class="container mx-auto px-4">
    <div class="text-center font-semibold">
      <p>&copy; 2025 La Caverna del Dev. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
