<section class="min-h-screen testimonials py-16 flex flex-col justify-around">
  <h2
    class="text-5xl font-bold text-center mb-12 text-purple-100 tracking-wide drop-shadow-md drop-shadow-purple-700"
  >
    Lo que dicen nuestros estudiantes
  </h2>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="testimonial p-6 bg-white bg-gradient-to-b from-purple-400 to-purple-600 rounded-lg shadow-md grid grid-rows-3 gap-6 hover:transform hover:scale-105 transition duration-300 ease-in-out relative overflow-hidden drop-shadow-purple-600 drop-shadow-sm"
      >
        <div class="row-span-1 mb-4 z-10">
          <img
            src="/person.png"
            alt="Estudiante 1"
            class="w-16 h-16 rounded-full mx-auto"
          />
        </div>
        <div class="row-span-1">
          <p class="text-white text-center">
            "El Curso superó todas mis expectativas. Los mentores son increíbles
            y el contenido es muy práctico."
          </p>
        </div>
        <div class="row-span-1 text-center">
          <p class="font-medium italic">Ana García</p>
          <p class="text-purple-100 font-bold">Desarrolladora Web</p>
        </div>
        <div
          class="bg-white rounded-xl h-full w-full left-0 bottom-0 transform scale-y-[-1] opacity-20 blur-sm border-2 border-purple-400 absolute"
        >
        </div>
      </div>

      <div
        class="testimonial p-6 bg-white bg-gradient-to-b from-purple-400 to-purple-600 rounded-lg shadow-md grid grid-rows-3 gap-6 hover:transform hover:scale-105 transition duration-300 ease-in-out relative overflow-hidden drop-shadow-purple-600 drop-shadow-sm"
      >
        <div class="row-span-1 mb-4 z-10">
          <img
            src="/person.png"
            alt="Estudiante 1"
            class="w-16 h-16 rounded-full mx-auto"
          />
        </div>
        <div class="row-span-1">
          <p class="text-white text-center">
            "Aprendí Astro de manera efectiva y ahora puedo crear sitios web
            modernos con confianza."
          </p>
        </div>
        <div class="row-span-1 text-center">
          <p class="font-medium italic">Carlos Rodríguez</p>
          <p class="text-purple-100 font-bold">Frontend Developer</p>
        </div>
        <div
          class="bg-white rounded-xl h-full w-full left-0 bottom-0 transform scale-y-[-1] opacity-20 blur-sm border-2 border-purple-400 absolute"
        >
        </div>
      </div>

      <div
        class="testimonial p-6 bg-white bg-gradient-to-b from-purple-400 to-purple-600 rounded-lg shadow-md grid grid-rows-3 gap-6 hover:transform hover:scale-105 transition duration-300 ease-in-out relative overflow-hidden drop-shadow-purple-600 drop-shadow-sm"
      >
        <div class="row-span-1 mb-4 z-10">
          <img
            src="/person.png"
            alt="Estudiante 1"
            class="w-16 h-16 rounded-full mx-auto"
          />
        </div>
        <div class="row-span-1">
          <p class="text-white text-center">
            "La comunidad y el soporte son excepcionales. Me ayudaron a crecer
            como desarrollador."
          </p>
        </div>
        <div class="row-span-1 text-center">
          <p class="font-medium italic">Laura Martínez</p>
          <p class="text-purple-100 font-bold">Full Stack Developer</p>
        </div>
        <div
          class="bg-white rounded-xl h-full w-full left-0 bottom-0 transform scale-y-[-1] opacity-20 blur-sm border-2 border-purple-400 absolute"
        >
        </div>
      </div>
    </div>
  </div>
</section>
